@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #efefbb;
    background: linear-gradient(to right, #eeedf6, #d1d1ce, #f8dddd);
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('media/International_Pokémon_logo.svg') no-repeat center center; 
    background-size: 90%;
    opacity: 0.1;
    z-index: -1;
}

h1 {
    font-size: 3rem;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

h1 .pokéball img {
    width: 30px;
}

.search-filter {
    display: flex;
    margin: 0 0 20px;
    gap: 5px;
}

.search-filter input {
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-family: inherit;
    text-transform: capitalize;
}

.search-filter input:focus {
    outline: none;
    background-color: #fbf4e899;
}

.filter-container select {
    padding: 4px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
}

.filter-container select:focus {
    outline: none;
}

button {
    width: 120px;
    margin-bottom: 1rem;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background: url('media/fire-bg.png') no-repeat center center; 
    background-size: cover; 
    font-family: inherit;
    color: #f7e7cb;
    font-size: 1rem;
    cursor: url('https://cur.cursors-4u.net/games/gam-13/gam1309.png'), auto;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}
  
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    max-width: 1200px;
    margin: 1rem auto;
}

.pokemon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    line-height: 1.5rem;
    box-shadow: 0 3px 15px #64646480;
    cursor: url('https://cur.cursors-4u.net/games/gam-13/gam1309.png'), auto;
}

.pokemon .img-container {
    background-color: #ffffff99;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.pokemon .img-container img {
    max-width: 90%;
    margin-top: 20px;
}

.pokemon .info {
    margin-top: 20px;
}

.pokemon .info .number {
    background-color: #0000001a;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 10px;
}

.pokemon .info .name {
    font-size: 1.3rem;
    margin: 15px 0 7px;
}

.pokemon .info p {
    background-color: #ffffffee;
    position: absolute;
    border-radius: 0 0 10px 10px;
    padding: 2rem;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    text-align: left;
    opacity: 0;
    transform: translateY(101%);
    transition: all 0.5s ease-in-out;
}

.pokemon:hover .info p {
    opacity: 1;
    transform: translateY(0);
}

.pokemon .info p span {
    font-weight: 600;
}